<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Sugar Calendar Unit Tests">
			<directory prefix="tests-" suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>
	<listeners>
		<listener class="SpeedTrapListener" file="tests/phpunit/listener-loader.php">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>250</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
</phpunit>
