.sc_clearfix:after {
	display: block;
	visibility: hidden;
	float: none;
	clear: both;
	height: 0;
	content: ".";
	text-indent: -9999px;
}

#sc_calendar_wrap {
	position: relative;
}

#sc_calendar_wrap,
#sc_calendar * {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	line-height: 1em;
	cursor: default;
}

#sc_calendar table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	float: left;
	padding-top: 0;
	margin-top: 0;
	border: none;
}

#sc_calendar th {
	width: 13.25%;
	background: rgba(100,100,100,0.2);
	border: 1px solid rgba(130,130,130,0.2);
	text-align: center;
	text-transform: capitalize;
	padding: 5px;
	font-size: 15px;
	line-height: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#sc_calendar td {
	width: 13.25%;
	border: 1px solid rgba(130,130,130,0.2);
	font-size: 11px;
	line-height: 11px;
	padding: 0;
	position: relative;
}

#sc_calendar td.calendar-day {
	background: rgba(255,255,255,0.1);
	height: 70px;
	padding: 0;
	margin: 0;
}

#sc_calendar td.calendar-day-np {
	background: rgba(200,200,200,0.3);
}

#sc_calendar td div.sc_day_div {
	padding: 6px;
}

#sc_calendar td div.sc_day_div a {
	overflow: hidden;
	white-space: nowrap;
	display: block;
	padding: 2px 0;
	margin: 1px 0;
	border: none;
	text-align: left;
	text-decoration: none;
	text-overflow: ellipsis;
	font-size: 11px;
	line-height: 13px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	box-shadow: none;
}

#sc_events_calendar_head {
	padding: 10px;
	background: rgba(200,200,200,0.3);
	border: 1px solid rgba(130,130,130,0.2);
	border-bottom: none;
}

#sc_event_select,
#sc_event_nav_wrap,
#sc_events_calendar_head h2 {
	margin: 0;
	clear: none;
}

#sc_event_select {
	float: left;
}

#sc_event_nav_wrap {
	float: right;
	text-align: right;
}

#sc_event_nav_wrap form {
	display: inline;
	text-align: right;
}

#sc_events_calendar_head h2 {
	display: block;
	margin-bottom: 10px;
	text-align: center;
	font-size: 26px;
	line-height: 26px;
}

#sc_events_calendar_head h2:before,
#sc_events_calendar_head h2:after {
	content: none;
}

#sc_events_calendar_head select {
	padding: 5px 15px 5px 5px;
	font-size: 13px;
	line-height: 13px;
	width: auto;
	max-height: calc( 1.5em + 10px );
	max-width: 33%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-position: right 10% top 70%;
}

#sc_events_calendar_head input {
	font-size: 13px;
	line-height: 13px;
	padding: 5px 10px;
	vertical-align: initial;
	width: auto;
}

#sc_events_calendar select,
#sc_events_calendar input {
	margin: 0 5px 0 0;
	cursor: pointer;
}

#sc_calendar td div.day-number {
	float: none;
	position: absolute;
	right: 2px;
	top: 2px;
	padding: 0;
	margin: 0;
	z-index: 1;
	cursor: default;
	color: rgba(150,150,150,0.8);
}

.sc_small #sc_event_nav_wrap {
	margin: 8px 0 0 0;
}

.sc_small #sc_event_nav_wrap,
.sc_small #sc_event_select {
	float: none;
	width: 100%;
}

.sc_small #sc_calendar td div {
	padding: 1px;
}

.sc_small #sc_event_nav_prev,
.sc_small #sc_event_nav_next {
	display: block;
	width: 50%;
	float: left;
}

.sc_small #sc_event_nav_prev {
	text-align: left;
}

.sc_small #sc_calendar td div.sc_day_div a {
	text-align: center;
	font-size: 25px;
	line-height: 20px;
}

.sc_event_details {
	margin: 0 0 15px;
}

.sc_events_list .sc_event {
	clear: both;
}

.sc_events_list .sc_event_title {
	float: left;
	clear: left;
}

.sc_events_list .sc_event_date {
	float: left;
	clear: left;
}

.sc_events_list .sc_event_time {
	float: left;
	clear: left;
}

.sc_events_list .sc_event_categories {
	float: left;
	clear: left;
}

.sc_events_list .sc_event_link {
	float: left;
	clear: left;
}

.sc_events_list br.clear {
	clear: both;
}

/* Calendar for or small screen */
@media only screen and (max-width: 480px) {

	.sc-table {
		overflow: hidden;
	}

	.sc-table th {
		display: none;
	}

	#content .sc-table tr td {
		display: block;
		text-align: left;
		width: auto;
	}

	.sc-table td:first-child {
		padding-top: .5em;
	}

	.sc-table td:last-child {
		padding-bottom: .5em;
	}

	.sc-table td:first-child {
		background-color: rgba(0, 0, 0, 0.1);
	}

	#sc_calendar td.calendar-day {
		height: auto;
		min-height: 70px;
	}

	#sc_events_calendar_head h2 {
		width: 100%;
		margin: 0 0 10px 0;
	}

	#sc_event_nav_wrap {
		text-align: center;
		margin: 0 auto;
		float: none;
	}

	#sc_event_nav_wrap form {
		display: inline;
		text-align: center;
	}
}
