/* WP Chosen
-------------------------------------------------------------- */

/* Prevent stutter from JavaScript UI replacement */
body.js select {
	min-width: 58px;
	max-width: 300px;
}
body.js div.chosen-container {
	min-width: 58px;
	max-width: 300px;
}

/* WordPress Core overrides */
.wrap .actions:not(.bulkactions),
.media-toolbar,
.tablenav .actions {
	overflow: visible !important;
}

/* WordPress Customizer select widths look better like this for now */
.chosen-container.chosen-container-multi,
#customize-theme-controls .chosen-container {
	width: 100% !important;
}

/* Match WordPress Core styling */
.chosen-container {
	vertical-align: middle;
	margin: 0 1px;
}

.chosen-container-single .chosen-single {
	padding: 2px 0 2px 8px;
}

.chosen-container-single .chosen-single div b:before {
	display: block;
	width: 17px;
	height: 17px;
	position: absolute;
	right: 2px;
	top: 0px;
	font-family: dashicons;
	font-size: 15px;
	content: '';
	color: #555;
	margin-top: 1px;
}

.chosen-container-single .chosen-search input[type=text]:before {
	display: block;
	width: 20px;
	height: 20px;
	font-family: dashicons;
}

.chosen-container-single .chosen-search:after {
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	right: 9px;
	top: 9px;
	color: #bbb;
	font-family: dashicons;
	font-size: 18px;
	line-height: 18px;
	content: '\f179';
}

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
	background-size: 16px 16px;
	border-radius: 4px;
	border: 1px solid #7e8993;
	box-shadow: 0 0 0 transparent;
	color: #32373c;
}

.chosen-container-single .chosen-default {
	color: #a0a5aa;
}

.chosen-container-single .chosen-single,
.chosen-container-single.chosen-container-active.chosen-with-drop .chosen-single {
	min-height: 30px;
	height: 100%;
}

.chosen-container-active.chosen-with-drop .chosen-single {
	border-radius: 4px 4px 0 0;
}

.chosen-container-active .chosen-single {
	border-color: transparent;
	outline: 2px solid transparent;
}

.chosen-container-multi .chosen-choices li.search-field {
	min-width: 100px !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	min-height: 28px !important;
	width: auto !important;
}

.chosen-container-multi.chosen-with-drop .chosen-choices {
	border-bottom-color: transparent;
}

.chosen-container-single .chosen-single div {
	width: 20px;
}
.chosen-container-single .chosen-single span {
	margin-right: 18px;
}

.chosen-container .chosen-drop {
	position: absolute;
	top: 100%;
	width: 100%;
	border-radius: 0 0 4px 4px;
	border-width: 0 1px 0 1px;
	border-color: transparent;
	background: #fff;
	outline: 2px solid transparent;
}

.chosen-container.chosen-dropup .chosen-drop {
	border-width: 0 1px;
	bottom: calc( 100% - 1px );
}

.chosen-container-single .chosen-search input[type=text] {
	margin: 1px 0;
	padding: 4px 24px 4px 5px;
	width: 100% !important;
	height: auto;
	outline: 0;
	line-height: normal;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: none;
}

.chosen-container .chosen-results {
	color: #444;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 4px !important;
	padding: 0 !important;
	max-height: 240px;
}

.chosen-container .chosen-results li.highlighted {
	color: #fff;
}

.chosen-container-multi .chosen-choices li.search-choice {
	margin: 3px 5px 3px 0;
	padding: 5px 22px 5px 5px;
	border: 1px solid #ddd;
	max-width: 100%;
	border-radius: 0;
	background: #f4f4f4;
	box-shadow: none;
	color: #333;
	cursor: default;
}

.chosen-container .search-choice-close {
	width: 15px;
	height: 15px;
	padding: 0;
	display: block;
}

.chosen-container .search-choice-close,
.chosen-container .search-choice-close:hover,
.chosen-container .search-choice-close:active {
	background: none;
}

.chosen-container .search-choice-close:before {
	height: 15px;
	width: 15px;
	position: absolute;
	top: 0;
	right: 0;
	color: #555;
	font-family: 'dashicons';
	content: '\f158';
	font-size: 15px;
	line-height: 15px;
}

.chosen-container .search-choice-close:hover:before {
	color: #aaa;
}

.chosen-container-single .chosen-single .search-choice-close {
	right: 22px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	top: 4px;
	right: 3px;
}

.chosen-container-multi .spinner {
	position: absolute;
	top: 4px;
	right: -4px;
}

.chosen-container-single .chosen-single abbr {
	position: absolute;
	top: 4px;
	right: 20px;
	display: block;
	width: 18px;
	height: 18px;
	color: #666;
}

.chosen-container-single .chosen-single abbr:before {
	height: 15px;
	width: 15px;
	position: absolute;
	top: 2px;
	font-family: 'dashicons';
	content: '\f158';
	font-size: 15px;
	line-height: 15px;
}

.chosen-container-single .chosen-single abbr:hover {
	color: #dc3232;
}

/* Force on all screen sizes & resolutions */
.chosen-rtl .chosen-search input[type=text],
.chosen-container .chosen-results li.highlighted
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type=text],
.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.chosen-container .chosen-results-scroll-down span,
.chosen-container .chosen-results-scroll-up span {
	background-image: none !important;
}

/* Mobile Screen Sizes
-------------------------------------------------------------- */
@media only screen and ( max-width: 782px ) {

	.chosen-container-single .chosen-single,
	.chosen-container-single.chosen-container-active.chosen-with-drop .chosen-single {
		height: auto;
		line-height: 2;
		font-size: 16px;
		padding: 3px 10px;
	}

	.chosen-container .chosen-results li {
		font-size: 16px;
		line-height: 16px;
	}
}

/* Scroll bars
-------------------------------------------------------------- */

/* width */
.chosen-container-single .chosen-results::-webkit-scrollbar {
	width: 8px;
}

/* Track */
.chosen-container-single .chosen-results::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
.chosen-container-single .chosen-results::-webkit-scrollbar-thumb {
	background: #ddd;
	border-radius: 4px;
}

/* Handle on hover */
.chosen-container-single .chosen-results::-webkit-scrollbar-thumb:hover {
	background: #bbb;
}

/* WordPress Color Schemes
-------------------------------------------------------------- */

/* Fresh */
.admin-color-fresh .chosen-container .chosen-results li.highlighted {
	background-color: #00a0d2;
}

/* Blue */
.admin-color-blue .chosen-container .chosen-results li.highlighted {
	background-color: #096484;
}

/* Coffee */
.admin-color-coffee .chosen-container .chosen-results li.highlighted {
	background-color: #096484;
}

/* Ectoplasm */
.admin-color-ectoplasm .chosen-container .chosen-results li.highlighted {
	background-color: #a3b745;
}

/* Midnight */
.admin-color-midnight .chosen-container .chosen-results li.highlighted {
	background-color: #26292c;
}

/* Ocean */
.admin-color-ocean .chosen-container .chosen-results li.highlighted {
	background-color: #627c83;
}

/* Sunrise */
.admin-color-sunrise .chosen-container .chosen-results li.highlighted {
	background-color: #be3631;
}

/* Light */
.admin-color-light .chosen-container .chosen-results li.highlighted {
	background-color: #888;
}

/* bbPress Color Schemes
-------------------------------------------------------------- */

/* Evergreen */
.admin-color-evergreen .chosen-container .chosen-results li.highlighted {
	background-color: #36533f;
}

/* Mint */
.admin-color-mint .chosen-container .chosen-results li.highlighted {
	background-color: #4f6d59;
}

/* WordPress Color Schemes
-------------------------------------------------------------- */

/* Fresh */
body.admin-color-fresh .chosen-container-active .chosen-single {
	border-color: #007cba;
	box-shadow: 0 0 0 1px #007cba;
}
body.admin-color-fresh .chosen-container .chosen-drop {
	border-color: #007cba;
	box-shadow: 0 1px 0 1px #007cba;
}
body.admin-color-fresh .chosen-container.chosen-dropup .chosen-drop {
	box-shadow: 0 -1px 0 1px #007cba;
}
body.admin-color-fresh .chosen-container .chosen-results li.highlighted {
	background-color: #007cba;
}

/* Blue */
body.admin-color-blue .chosen-container-active .chosen-single {
	border-color: #096484;
	box-shadow: 0 0 0 1px #096484;
}
body.admin-color-blue .chosen-container .chosen-drop {
	border-color: #096484;
	box-shadow: 0 1px 0 1px #096484;
}
body.admin-color-blue .chosen-container.chosen-dropup .chosen-drop {
	box-shadow: 0 -1px 0 1px #096484;
}
body.admin-color-blue .chosen-container .chosen-results li.highlighted {
	background-color: #007cba;
}

/* Coffee */
body.admin-color-coffee .chosen-container-active .chosen-single {
	border-color: #c7a589;
	box-shadow: 0 0 0 1px #c7a589;
}
body.admin-color-coffee .chosen-container .chosen-drop {
	border-color: #c7a589;
	box-shadow: 0 1px 0 1px #c7a589;
}
body.admin-color-coffee .chosen-container.chosen-dropup .chosen-drop {
	box-shadow: 0 -1px 0 1px #c7a589;
}
body.admin-color-coffee .chosen-container .chosen-results li.highlighted {
	background-color: #c7a589;
}

/* Ectoplasm */
body.admin-color-ectoplasm .chosen-container-active .chosen-single {
	border-color: #a3b745;
	box-shadow: 0 0 0 1px #a3b745;
}
body.admin-color-ectoplasm .chosen-container .chosen-drop {
	border-color: #a3b745;
	box-shadow: 0 1px 0 1px #a3b745;
}
body.admin-color-ectoplasm .chosen-container.chosen-dropup .chosen-drop {
	box-shadow: 0 -1px 0 1px #a3b745;
}
body.admin-color-ectoplasm .chosen-container .chosen-results li.highlighted {
	background-color: #a3b745;
}

/* Midnight */
body.admin-color-midnight .chosen-container-active .chosen-single {
	border-color: #e14d43;
	box-shadow: 0 0 0 1px #e14d43;
}
body.admin-color-midnight .chosen-container .chosen-drop {
	border-color: #e14d43;
	box-shadow: 0 1px 0 1px #e14d43;
}
body.admin-color-midnight .chosen-container.chosen-dropup .chosen-drop {
	box-shadow: 0 -1px 0 1px #e14d43;
}
body.admin-color-midnight .chosen-container .chosen-results li.highlighted {
	background-color: #e14d43;
}

/* Ocean */
body.admin-color-ocean .chosen-container-active .chosen-single {
	border-color: #9ebaa0;
	box-shadow: 0 0 0 1px #9ebaa0;
}
body.admin-color-ocean .chosen-container .chosen-drop {
	border-color: #9ebaa0;
	box-shadow: 0 1px 0 1px #9ebaa0;
}
body.admin-color-ocean .chosen-container.chosen-dropup .chosen-drop {
	box-shadow: 0 -1px 0 1px #9ebaa0;
}
body.admin-color-ocean .chosen-container .chosen-results li.highlighted {
	background-color: #9ebaa0;
}

/* Sunrise */
body.admin-color-sunrise .chosen-container-active .chosen-single {
	border-color: #dd823b;
	box-shadow: 0 0 0 1px #dd823b;
}
body.admin-color-sunrise .chosen-container .chosen-drop {
	border-color: #dd823b;
	box-shadow: 0 1px 0 1px #dd823b;
}
body.admin-color-sunrise .chosen-container.chosen-dropup .chosen-drop {
	box-shadow: 0 -1px 0 1px #dd823b;
}
body.admin-color-sunrise .chosen-container .chosen-results li.highlighted {
	background-color: #dd823b;
}

/* Light */
body.admin-color-light .chosen-container-active .chosen-single {
	border-color: #04a4cc;
	box-shadow: 0 0 0 1px #04a4cc;
}
body.admin-color-light .chosen-container .chosen-drop {
	border-color: #04a4cc;
	box-shadow: 0 1px 0 1px #04a4cc;
}
body.admin-color-light .chosen-container.chosen-dropup .chosen-drop {
	box-shadow: 0 -1px 0 1px #04a4cc;
}
body.admin-color-light .chosen-container .chosen-results li.highlighted {
	background-color: #04a4cc;
}

/* bbPress Color Schemes
-------------------------------------------------------------- */

/* Evergreen */
body.admin-color-evergreen .chosen-container-active .chosen-single {
	box-shadow: 0 0 0 1px #36533f;
}
body.admin-color-evergreen .chosen-container .chosen-drop {
	border-color: #36533f;
	box-shadow: 0 1px 0 1px #36533f;
}
body.admin-color-evergreen .chosen-container.chosen-dropup .chosen-drop {
	box-shadow: 0 -1px 0 1px #36533f;
}
body.admin-color-evergreen .chosen-container .chosen-results li.highlighted {
	background-color: #36533f;
}

/* Mint */
body.admin-color-mint .chosen-container-active .chosen-single {
	border-color: #4f6d59;
	box-shadow: 0 0 0 1px #4f6d59;
}
body.admin-color-mint .chosen-container .chosen-drop {
	border-color: #4f6d59;
	box-shadow: 0 1px 0 1px #4f6d59;
}
body.admin-color-mint .chosen-container.chosen-dropup .chosen-drop {
	box-shadow: 0 -1px 0 1px #4f6d59;
}
body.admin-color-mint .chosen-container .chosen-results li.highlighted {
	background-color: #4f6d59;
}
