/* Sugar Calendar Overrides
-------------------------------------------------------------- */

/* Default SELECT styling, inherited by Chosen */
body.sugar-calendar.js select.sc-select-chosen {
	height: 28px;
	opacity: 0.2;
	width: auto;
	min-width: 55px;
	max-width: 300px;
}

/* Min/Max widths for wrapper divs */
body.sugar-calendar div.sc-select-chosen {
	min-width: 55px;
	max-width: 125px;
}

/* Time pickers have explicit max-widths */
body.sugar-calendar .sc-select-chosen.sc-time {
	max-width: 55px;
}

/* Filters & Tablenavs have explicit widths */
body.sugar-calendar div.filter-items div.sc-select-chosen,
body.sugar-calendar div.tablenav.top div.sc-select-chosen {
	min-width: 125px;
	max-width: 125px;
}

/* Make sure certain wrappers allow dropdowns to appear outside their rects */
body.sugar-calendar .wrap .actions:not(.bulkactions),
body.sugar-calendar .media-toolbar,
body.sugar-calendar .tablenav .actions {
	overflow: visible !important;
}

/* WP Chosen
-------------------------------------------------------------- */

/* Certain pages expect 100% wide selects */
.chosen-container.chosen-container-multi,
#customize-theme-controls .chosen-container {
	width: 100% !important;
}

.chosen-container {
	font-size: 13px;
	vertical-align: middle;
}

.chosen-container-single .chosen-single div b {
	background-image: none;
}

.chosen-container-single .chosen-single div b:before {
	display: block;
	width: 17px;
	height: 17px;
	position: absolute;
	right: 2px;
	top: 0px;
	font-family: dashicons;
	font-size: 15px;
	content: '\f140';
	color: #555;
	margin-top: 1px;
}

.chosen-container-single .chosen-search input[type=text]:before {
	display: block;
	width: 20px;
	height: 20px;
	font-family: dashicons;
	content: '\f140';
}

.chosen-container-single .chosen-search:after {
	display: block;
	width: 17px;
	height: 17px;
	position: absolute;
	right: 6px;
	top: 8px;
	color: #aaa;
	font-family: dashicons;
	font-size: 17px;
	line-height: 17px;
	content: '\f179';
}

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #ddd;
	border-radius: 0;
	background: #fff;
	padding: 2px 5px;
	outline: none;
}

.chosen-container-single .chosen-single,
.chosen-container-single.chosen-container-active.chosen-with-drop .chosen-single {
	min-height: 28px;
}

.chosen-container-active .chosen-single {
	outline: auto 5px -webkit-focus-ring-color;
}

.chosen-container-multi .chosen-choices li.search-field {
	min-width: 100px !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	min-height: 28px !important;
	width: auto !important;
}

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single {
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
}

.chosen-container-multi.chosen-with-drop .chosen-choices,
.chosen-container-active.chosen-with-drop .chosen-single {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.chosen-container-multi.chosen-with-drop .chosen-choices {
	border-bottom-color: transparent;
}

.chosen-container-single .chosen-single div {
	width: 20px;
}

.chosen-container-single .chosen-single span {
	margin-right: 18px;
}

.chosen-container .chosen-drop {
	font-size: 13px;
	position: absolute;
	top: 100%;
	z-index: 1010;
	width: 100%;
	border: 1px solid #e5e5e5;
	border-top: 0;
	border-radius: 0;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.chosen-container-single .chosen-search input[type=text] {
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	width: 100% !important;
	height: auto;
	outline: 0;
	border: 1px solid #ddd;
	border-radius: 0;
	font-size: 13px;
	line-height: normal;
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
}

.chosen-container a.chosen-default span {
	color: #aaa;
}

.chosen-container .chosen-results {
	color: #444;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 4px 4px 0 !important;
	padding: 0 0 0 4px !important;
	max-height: 240px;
}

.chosen-container .chosen-results li.highlighted {
	background-image: none;
	color: #fff;
	border-radius: 4px;
}

.chosen-container-multi .chosen-choices li.search-choice {
	margin: 3px 5px 3px 0;
	padding: 5px 22px 5px 5px;
	border: 1px solid #ddd;
	max-width: 100%;
	border-radius: 0;
	background: #f4f4f4;
	box-shadow: none;
	color: #333;
	cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	position: absolute;
	top: 4px;
	right: 3px;
	display: block;
	width: 15px;
	height: 15px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
	height: 15px;
	width: 15px;
	position: absolute;
	top: 0;
	right: 0;
	color: #555;
	font-family: 'dashicons';
	content: '\f158';
	font-size: 15px;
	line-height: 15px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover:before {
	color: #aaa;
}

.chosen-container-multi .spinner {
	position: absolute;
	top: 4px;
	right: -4px;
}

.chosen-container-single .chosen-single abbr {
	position: absolute;
	top: 4px;
	right: 20px;
	display: block;
	width: 18px;
	height: 18px;
	color: #666;
}

.chosen-container-single .chosen-single abbr:before {
	height: 15px;
	width: 15px;
	position: absolute;
	top: 2px;
	font-family: 'dashicons';
	content: '\f158';
	font-size: 15px;
	line-height: 15px;
}

.chosen-container-single .chosen-single abbr:hover {
	color: #555;
}

/* Force on all screen sizes & resolutions */
.chosen-rtl .chosen-search input[type=text],
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type=text],
.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.chosen-container .chosen-results-scroll-down span,
.chosen-container .chosen-results-scroll-up span {
	background-image: none !important;
}

/* Mobile Screen Sizes
-------------------------------------------------------------- */
@media only screen and ( max-width: 782px ) {

	.chosen-container-single .chosen-single,
	.chosen-container-single.chosen-container-active.chosen-with-drop .chosen-single {
		height: auto;
		line-height: 2;
		font-size: 16px;
		padding: 3px 10px;
	}

	.chosen-container .chosen-results li {
		font-size: 16px;
		line-height: 16px;
	}
}

/* WordPress Color Schemes
-------------------------------------------------------------- */

/* Fresh */
.admin-color-fresh .chosen-container .chosen-results li.highlighted {
	background-color: #00a0d2;
}

/* Blue */
.admin-color-blue .chosen-container .chosen-results li.highlighted {
	background-color: #096484;
}

/* Coffee */
.admin-color-coffee .chosen-container .chosen-results li.highlighted {
	background-color: #096484;
}

/* Ectoplasm */
.admin-color-ectoplasm .chosen-container .chosen-results li.highlighted {
	background-color: #a3b745;
}

/* Midnight */
.admin-color-midnight .chosen-container .chosen-results li.highlighted {
	background-color: #26292c;
}

/* Ocean */
.admin-color-ocean .chosen-container .chosen-results li.highlighted {
	background-color: #627c83;
}

/* Sunrise */
.admin-color-sunrise .chosen-container .chosen-results li.highlighted {
	background-color: #be3631;
}

/* Light */
.admin-color-light .chosen-container .chosen-results li.highlighted {
	background-color: #888;
}

/* bbPress Color Schemes
-------------------------------------------------------------- */

/* Evergreen */
.admin-color-evergreen .chosen-container .chosen-results li.highlighted {
	background-color: #36533f;
}

/* Mint */
.admin-color-mint .chosen-container .chosen-results li.highlighted {
	background-color: #4f6d59;
}

/* WordPress 5.3 Support
-------------------------------------------------------------- */

body.branch-5-3 .chosen-container-multi .chosen-choices,
body.branch-5-3 .chosen-container-single .chosen-single,
body.branch-5-3 .chosen-container-active .chosen-single {
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 50%;
	background-size: 16px 16px;
	border-radius: 3px;
	border: 1px solid #7e8993;
	box-shadow: 0 0 0 transparent;
	color: #32373c;
	padding: 1px 7px;
}

body.branch-5-3 .chosen-container-active .chosen-single {
	border-color: transparent;
	outline: 2px solid transparent;
}

body.branch-5-3 .chosen-container-active.chosen-with-drop .chosen-single {
	border-radius: 3px 3px 0 0;
}

body.branch-5-3 .chosen-container-single .chosen-single div b:before,
body.branch-5-3 .chosen-container-single .chosen-search input[type=text]:before {
	content: '';
}

body.branch-5-3 .chosen-container .chosen-drop {
	width: 100%;
	border-radius: 0 0 3px 3px;
	background: #fff;
	border-width: 0 1px 0 1px;
	outline: 2px solid transparent;
}

body.branch-5-3 .chosen-container:hover .chosen-drop,
body.branch-5-3 .chosen-container:hover .chosen-choices,
body.branch-5-3 .chosen-container:hover .chosen-single {
	color: #007cba;
}

body.branch-5-3 .chosen-container-single .chosen-search input[type=text] {
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: none;
}


/* WordPress Color Schemes
-------------------------------------------------------------- */

/* Fresh */
body.branch-5-3 .chosen-container-active .chosen-single {
	border-color: #007cba;
	box-shadow: 0 0 0 1px #007cba;
}
body.branch-5-3 .chosen-container .chosen-drop {
	border-color: #007cba;
	box-shadow: 0 1px 0 1px #007cba;
}
body.branch-5-3 .chosen-container .chosen-results li.highlighted {
	background-color: #007cba;
	border-radius: 3px;
}

/* Blue */
body.branch-5-3.admin-color-blue .chosen-container-active .chosen-single {
	border-color: #096484;
	box-shadow: 0 0 0 1px #096484;
}
body.branch-5-3.admin-color-blue .chosen-container .chosen-drop {
	border-color: #096484;
	box-shadow: 0 1px 0 1px #096484;
}
body.branch-5-3.admin-color-blue .chosen-container .chosen-results li.highlighted {
	background-color: #007cba;
}

/* Coffee */
body.branch-5-3.admin-color-coffee .chosen-container-active .chosen-single {
	border-color: #c7a589;
	box-shadow: 0 0 0 1px #c7a589;
}
body.branch-5-3.admin-color-coffee .chosen-container .chosen-drop {
	border-color: #c7a589;
	box-shadow: 0 1px 0 1px #c7a589;
}
body.branch-5-3.admin-color-coffee .chosen-container .chosen-results li.highlighted {
	background-color: #c7a589;
}

/* Ectoplasm */
body.branch-5-3.admin-color-ectoplasm .chosen-container-active .chosen-single {
	border-color: #a3b745;
	box-shadow: 0 0 0 1px #a3b745;
}
body.branch-5-3.admin-color-ectoplasm .chosen-container .chosen-drop {
	border-color: #a3b745;
	box-shadow: 0 1px 0 1px #a3b745;
}
body.branch-5-3.admin-color-ectoplasm .chosen-container .chosen-results li.highlighted {
	background-color: #a3b745;
}

/* Midnight */
body.branch-5-3.admin-color-midnight .chosen-container-active .chosen-single {
	border-color: #e14d43;
	box-shadow: 0 0 0 1px #e14d43;
}
body.branch-5-3.admin-color-midnight .chosen-container .chosen-drop {
	border-color: #e14d43;
	box-shadow: 0 1px 0 1px #e14d43;
}
body.branch-5-3.admin-color-midnight .chosen-container .chosen-results li.highlighted {
	background-color: #e14d43;
}

/* Ocean */
body.branch-5-3.admin-color-ocean .chosen-container-active .chosen-single {
	border-color: #9ebaa0;
	box-shadow: 0 0 0 1px #9ebaa0;
}
body.branch-5-3.admin-color-ocean .chosen-container .chosen-drop {
	border-color: #9ebaa0;
	box-shadow: 0 1px 0 1px #9ebaa0;
}
body.branch-5-3.admin-color-ocean .chosen-container .chosen-results li.highlighted {
	background-color: #9ebaa0;
}

/* Sunrise */
body.branch-5-3.admin-color-sunrise .chosen-container-active .chosen-single {
	border-color: #dd823b;
	box-shadow: 0 0 0 1px #dd823b;
}
body.branch-5-3.admin-color-sunrise .chosen-container .chosen-drop {
	border-color: #dd823b;
	box-shadow: 0 1px 0 1px #dd823b;
}
body.branch-5-3.admin-color-sunrise .chosen-container .chosen-results li.highlighted {
	background-color: #dd823b;
}

/* Light */
body.branch-5-3.admin-color-light .chosen-container-active .chosen-single {
	border-color: #04a4cc;
	box-shadow: 0 0 0 1px #04a4cc;
}
body.branch-5-3.admin-color-light .chosen-container .chosen-drop {
	border-color: #04a4cc;
	box-shadow: 0 1px 0 1px #04a4cc;
}
body.branch-5-3.admin-color-light .chosen-container .chosen-results li.highlighted {
	background-color: #04a4cc;
}

/* bbPress Color Schemes
-------------------------------------------------------------- */

/* Evergreen */
body.branch-5-3.admin-color-evergreen .chosen-container-active .chosen-single {
	box-shadow: 0 0 0 1px #36533f;
}
body.branch-5-3.admin-color-evergreen .chosen-container .chosen-drop {
	border-color: #36533f;
	box-shadow: 0 1px 0 1px #36533f;
}
body.branch-5-3.admin-color-evergreen .chosen-container .chosen-results li.highlighted {
	background-color: #36533f;
}

/* Mint */
body.branch-5-3.admin-color-mint .chosen-container-active .chosen-single {
	border-color: #4f6d59;
	box-shadow: 0 0 0 1px #4f6d59;
}
body.branch-5-3.admin-color-mint .chosen-container .chosen-drop {
	border-color: #4f6d59;
	box-shadow: 0 1px 0 1px #4f6d59;
}
body.branch-5-3.admin-color-mint .chosen-container .chosen-results li.highlighted {
	background-color: #4f6d59;
}
