.sugar-calendar-wrap {
	margin: -6px -12px -12px -12px;
}

.user-cellular-preferences .chosen-container.chosen-container-multi {
	width: 25em !important;
}

.sugar-calendar-wrap .section-content h4 {
	margin-bottom: 0;
}

.sugar-calendar-wrap .section-content #alert-methods h4 {
	margin-top: 0;
}

.sugar-calendar-wrap .section-content {
	padding: 10px;
}

.sugar-calendar-wrap .section-content .form-table {
	width: 100%;
	margin-top: 0;
}
.sugar-calendar-wrap .section-content .form-table th,
.sugar-calendar-wrap .section-content .form-table td {
	font-size: 13px;
}
.sugar-calendar-wrap .section-content .form-table th {
	width: 25%;
	padding: 15px 10px 14px;
}
.sugar-calendar-wrap .section-content .form-table td {
	width: 75%;
	padding: 10px 10px 9px;
}

.sugar-calendar-wrap .section-content th label {
	padding: 5px 10px;
	display: inline-block;
}

tr.sugar-calendar-post-header th {
	font-weight: 600;
}

/* Form Fields */

.sugar-calendar-wrap .section-content textarea {
	height: 79px;
	width: 60%;
}

/* WordPress 5.3 makes these 30px, which is 2px too tall for Chosen */
.sugar-calendar-wrap .section-content input[type=date],
.sugar-calendar-wrap .section-content input[type=datetime-local],
.sugar-calendar-wrap .section-content input[type=datetime],
.sugar-calendar-wrap .section-content input[type=email],
.sugar-calendar-wrap .section-content input[type=month],
.sugar-calendar-wrap .section-content input[type=number],
.sugar-calendar-wrap .section-content input[type=password],
.sugar-calendar-wrap .section-content input[type=search],
.sugar-calendar-wrap .section-content input[type=tel],
.sugar-calendar-wrap .section-content input[type=text],
.sugar-calendar-wrap .section-content input[type=time],
.sugar-calendar-wrap .section-content input[type=url],
.sugar-calendar-wrap .section-content input[type=week] {
	min-height: 28px;
}

@media only screen and ( max-width: 782px ) {

	.sugar-calendar-wrap .section-content .sugar_calendar_datepicker {
		max-width: 120px;
		display: inline-block;
	}

	.sugar-calendar-wrap .section-content th label {
		padding: 0;
	}
}

/* Tools Styles
-------------------------------------------------------------- */

.sugar-calendar-wrap .sc-vertical-sections {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	background: #eee;
}

.sc-vertical-sections .section-nav,
.sc-vertical-sections .section-wrap {
	margin: 0;
	padding: 0;
	flex: 1 1 auto;
	vertical-align: top;
	text-overflow: ellipsis;
}

.sc-vertical-sections .section-nav {
	position: relative;
	line-height: 1em;
	flex-basis: 20%;
	max-width: 150px;
	min-width: 90px;
	border-right: 1px solid #ccd0d4;
	margin-bottom: -1px;
}

.sc-vertical-sections .section-wrap {
	background: #fff;
	flex-basis: 80%;
}

.sc-vertical-sections .section-nav li {
	margin: 0;
	padding: 0;
	position: relative;
	white-space: nowrap;
	background-color: #f5f5f5;
}

.sc-vertical-sections .section-nav li a {
	display: block;
	margin: 0;
	padding: 9px;
	line-height: 20px !important;
	box-shadow: inset 0 -1px 0 #ccd0d4;
	text-decoration: none;
	text-overflow: ellipsis;
	overflow: auto;
	transition-property: border, background, color;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
}

.sc-vertical-sections .section-nav li a > .dashicons {
	color: #82878c;
}

.sc-vertical-sections .section-nav li a:hover {
	background-color: #fafafa;
}

.sc-vertical-sections .section-nav li a:hover,
.sc-vertical-sections .section-nav li a:hover > .dashicons,
.sc-vertical-sections .section-nav li a:hover > span {
	color: #096484;
}

.sc-vertical-sections .section-nav li a .dashicons {
	line-height: 20px;
	margin-right: 3px;
}

.sc-vertical-sections .section-nav li[aria-selected="true"] a {
	position: relative;
	font-weight: bold;
	background-color: #fff;
	border-right: none;
	margin-right: -1px;
}

.sc-vertical-sections .section-nav li[aria-selected="true"] a,
.sc-vertical-sections .section-nav li[aria-selected="true"] a .dashicons,
.sc-vertical-sections .section-nav li[aria-selected="true"] a span {
	color: #23282d;
}

/* Fresh */
.sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-left: 5px solid #096484;
}

/* Blue */
.admin-color-blue .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-left: 5px solid #096484;
}

/* Coffee */
.admin-color-coffee .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-left: 5px solid #096484;
}

/* Ectoplasm */
.admin-color-ectoplasm .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-left: 5px solid #a3b745;
}

/* Midnight */
.admin-color-midnight .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-left: 5px solid #26292c;
}

/* Ocean */
.admin-color-ocean .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-left: 5px solid #627c83;
}

/* Sunrise */
.admin-color-sunrise .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-left: 5px solid #be3631;
}

/* Light */
.admin-color-light .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-left: 5px solid #888;
}

/* bbPress Color Schemes */

/* Evergreen */
.admin-color-evergreen .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-left: 5px solid #36533f;
}

/* Mint */
.admin-color-mint .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-left: 5px solid #4f6d59;
}

@media only screen and ( max-width: 782px ) {

	.sc-vertical-sections .section-nav {
		width: 48px;

		/* Necessary to override */
		min-width: 48px;
		max-width: 48px;
	}

	.sc-vertical-sections .section-nav li a {
		text-align: center;
	}
	.sc-vertical-sections .section-nav li a .dashicons {
		width: 24px;
		height: 24px;
		font-size: 24px;
		line-height: 24px;
		margin: 0;
	}

	.section-nav li .dashicons::before {
		width: 24px;
		height: 24px;
	}

	.section-nav li .label {
		overflow: hidden;
		position: absolute;
		top: -1000em;
		left: -1000em;
		width: 1px;
		height: 1px;
	}
}
