/* Primary Nav
-------------------------------------------------------------- */

body.sugar-calendar h2.nav-tab-wrapper.sc-tab-clear,
body.sugar-calendar h2.nav-tab-wrapper.sc-tab-clear {
	margin: -19px 0 0 0;
}

.sc-tab-wrap {
	margin: 10px 20px -12px 2px;
}

body.sugar-calendar .sc-tab-wrap h2.sc-nav-tab-wrapper + .notice {
	margin-top: 22px;
}

body.sugar-calendar:not(.post-new-php):not(.post-php) .wrap > .wp-heading-inline,
body.sugar-calendar:not(.post-new-php):not(.post-php) .wrap > .subtitle,
body.sugar-calendar:not(.post-new-php):not(.post-php) .wrap > h1 {
	display: none;
}

body.sugar-calendar .wrap .nav-tab-wrapper .page-title-action {
	top: 3px;
	margin-left: 10px;
	line-height: 24px;
}

@media only screen and ( max-width: 782px ) {
	h2.nav-tab-wrapper.sc-tab-clear {
		margin-top: 0px;
	}
}

@media only screen and ( max-width: 600px ) {
	body.sugar-calendar .wrap .nav-tab-wrapper .page-title-action {
		float: right;
	}
}

/* Secondary Nav
-------------------------------------------------------------- */

.sc-settings-sub-nav {
	margin: 0 0px 10px 0;
	width: 100%;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.sc-settings-sub-nav a {
	padding: 13px;
	display: block;
}

.sc-settings-sub-nav a.current {
	border-bottom: 4px solid #000;
	padding-bottom: 9px;
}

.admin-color-fresh .sc-settings-sub-nav a.current {
	border-bottom-color: #00a0d2;
}

/* Blue */
.admin-color-blue .sc-settings-sub-nav a.current {
	border-bottom-color: #096484;
}

/* Coffee */
.admin-color-coffee .sc-settings-sub-nav a.current {
	border-bottom-color: #096484;
}

/* Ectoplasm */
.admin-color-ectoplasm .sc-settings-sub-nav a.current {
	border-bottom-color: #a3b745;
}

/* Midnight */
.admin-color-midnight .sc-settings-sub-nav a.current {
	border-bottom-color: #26292c;
}

/* Ocean */
.admin-color-ocean .sc-settings-sub-nav a.current {
	border-bottom-color: #627c83;
}

/* Sunrise */
.admin-color-sunrise .sc-settings-sub-nav a.current {
	border-bottom-color: #be3631;
}

/* Light */
.admin-color-light .sc-settings-sub-nav a.current {
	border-bottom-color: #888;
}

/* bbPress Color Schemes */

/* Evergreen */
.admin-color-evergreen .sc-settings-sub-nav a.current {
	border-bottom-color: #36533f;
}

/* Mint */
.admin-color-mint .sc-settings-sub-nav a.current {
	border-bottom-color: #4f6d59;
}

/* Nav End (for notices)
-------------------------------------------------------------- */

body.sugar-calendar .wp-header-end,
body.calendar_page_sc-settings .wp-header-end {
	clear: both;
}

/* Bubbles
-------------------------------------------------------------- */

.sc-nav-tab-wrapper a span.awaiting-mod,
.sc-settings-sub-nav a span.awaiting-mod {
	display: inline-block;
	vertical-align: top;
	margin: 5px 0 0 1px;
	padding: 0 5px;
	min-width: 7px;
	height: 17px;
	border-radius: 11px;
	background-color: #ca4a1f;
	color: #fff;
	font-size: 9px;
	line-height: 17px;
	text-align: center;
	font-weight: 600;
	z-index: 26;
}
