/* Title Styles
-------------------------------------------------------------- */

body.calendar_page_sc-settings .wrap h1.wp-heading-inline {
	display: none;
}


/* Toggle Styles
-------------------------------------------------------------- */

.sc-toggle {
	position: relative;
	display: inline-block;
	overflow: visible;
}

.sc-toggle input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0;
	padding: 0;
	width: 42px;
	height: 24px;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
	box-shadow: none;
	border: none;
}

.sc-toggle .label {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
}

.sc-toggle input[type="checkbox"]:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

.sc-toggle input[type="checkbox"]:checked {
	background-color: #00a0d2;
}

.sc-toggle input[type="checkbox"]:active,
.sc-toggle input[type="checkbox"]:focus {
	outline: auto 3px -webkit-focus-ring-color;
}

.sc-toggle input[type="checkbox"]:checked:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
}

.sc-toggle input + .label,
.sc-toggle .label + input {
	margin-left: 5px;
}

/* License Styles
-------------------------------------------------------------- */

.sc-license-wrapper {
	width: 80%;
	max-width: 700px;
	min-width: 460px;
	margin: 20px 0;
}

.sc-license-wrapper .sc-license-header {
	background: #fff;
	border: 1px solid #ddd;
	padding: 12px 20px;
	margin: 0;
}

.sc-license-wrapper .sc-license-header h3,
.sc-license-wrapper .sc-license-header span {
	padding: 0;
	margin: 5px;
}

.sc-license-wrapper .sc-license-header span {
	font-size: 12px;
	color: #aaa;
}

.sc-license-content {
	background: #fafafa;
	border: 1px solid #ddd;
	border-top: none;
	padding: 25px;
}

.sc-license-content p,
.sc-license-input-wrapper {
	margin: 0 0 15px 0;
}

.sc-license-input {
	width: 69%;
	display: inline-block;
	position: relative;
}

.sc-license-input-wrapper input[type="text"],
.sc-license-input-wrapper input[type="password"] {
	width: 100%;
	font-family: monospace;
	padding: 5px 5px 5px 30px;
	font-size: 15px;
}

.sc-license-content .sc-license-input-wrapper button {
	vertical-align: baseline;
}

input.sc-license-key::-webkit-credentials-auto-fill-button {
	display: none;
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	right: 0;
}

span.sc-license-input span.sc-license-status {
	border: none;
	background: transparent;
	position: absolute;
	display: inline-block;
	top: 3px;
	padding: 0;
	margin: 0;
	color: #aaa;
	vertical-align: middle;
	text-align: center;
	height: 25px;
	width: 25px;
	font: 400 20px/25px dashicons !important;
}

span.sc-license-status {
	left: 3px;
}

span.sc-license-status.empty:after {
	content: "\f112"; /* Key */
	color: #aaa;
	font-size: 17px;
}

span.sc-license-status.inactive:after {
	content: "\f112"; /* Key */
	color: #aaa;
	font-size: 17px;
}

span.sc-license-status.valid:after {
	content: "\f147"; /* Check */
	color: #008000;
	font-size: 23px;
}

span.sc-license-status.invalid:after {
	content: "\f534"; /* Not Valid */
	color: #ca4a1f;
	font-size: 20px;
}

span.sc-license-status.verifying {
	font-size: 17px;
	-webkit-animation: rotating 2s linear infinite;
	 -moz-animation: rotating 2s linear infinite;
	 -ms-animation: rotating 2s linear infinite;
	 -o-animation: rotating 2s linear infinite;
	 animation: rotating 2s linear infinite;
}

span.sc-license-status.verifying:after {
	content: "\f463"; /* Refreshing */
	color: #0085ba;
}

button.sc-license-refresh {
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
	cursor: pointer;
	color: #444;
	text-decoration: underline;
}

.sc-license-content p:last-child {
	margin-bottom: 0;
}

/* Keyframes
-------------------------------------------------------------- */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
