.sugar-calendar-wrap {
	margin: -6px -12px -12px -12px;
}

.user-cellular-preferences .chosen-container.chosen-container-multi {
	width: 25em !important;
}

.sugar-calendar-wrap .section-content h4 {
	margin-bottom: 0;
}

.sugar-calendar-wrap .section-content #alert-methods h4 {
	margin-top: 0;
}

.sugar-calendar-wrap .section-content {
	padding: 10px;
	min-height: 155px;
	border-right: 1px solid #e5e5e5;
}

.sugar-calendar-wrap .section-content .form-table {
	width: 100%;
	margin-top: 0;
}
.sugar-calendar-wrap .section-content .form-table th,
.sugar-calendar-wrap .section-content .form-table td {
	font-size: 13px;
}
.sugar-calendar-wrap .section-content .form-table th {
	width: 25%;
	padding: 15px 10px 14px;
}
.sugar-calendar-wrap .section-content .form-table td {
	width: 75%;
	padding: 10px 10px 9px;
}

.sugar-calendar-wrap .section-content th label {
	padding: 10px;
}

tr.sugar-calendar-post-header th {
	font-weight: 600;
}

/* Form Fields */

.sugar-calendar-wrap .section-content textarea {
	height: 79px;
	width: 60%;
}

@media only screen and ( max-width: 782px ) {
	.sugar-calendar-wrap .section-content .sugar_calendar_datepicker {
		max-width: 125px;
	}

	.sugar-calendar-wrap .section-content th label {
		padding: 0;
	}
}

/* Tools Styles
-------------------------------------------------------------- */

.sc-vertical-sections {
	overflow: visible;
	background: linear-gradient( -90deg, #f5f5f5 0%, #f5f5f5 20%, #fff 20%, #fff 100% );
}

@media only screen and ( max-width: 782px ) {
	.sc-vertical-sections {
		background: linear-gradient( -90deg, #f5f5f5 0%, #f5f5f5 48px, #fff 48px, #fff 100% );
	}
}

.sc-vertical-sections .section-nav {
	position: relative;
	float: right;
	width: 20%;
	line-height: 1em;
	margin: 0 0 -1px -1px;
	padding: 0;
	background-color: #fcfcfc;
	border-left: 1px solid #e5e5e5;
	box-sizing: border-box;
	max-width: 200px;
}

.sc-vertical-sections .section-nav li {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}

.sc-vertical-sections .section-nav li a {
	display: block;
	margin: 0;
	padding: 9px;
	line-height: 20px !important;
	text-decoration: none;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: none;
}

.sc-vertical-sections .section-nav li a > .dashicons,
.sc-vertical-sections .section-nav li a > span {
	display: inline-block;
}

.sc-vertical-sections .section-nav li a > span {
	max-width: 76%;
	text-overflow: ellipsis;
}

.sc-vertical-sections .section-nav li a .dashicons {
	line-height: 20px;
	margin-left: 3px;
	color: #888;
}

.sc-vertical-sections .section-nav li[aria-selected="true"] a {
	position: relative;
	font-weight: bold;
	color: #555;
	background-color: #fff;
	border-left: none;
	margin-left: -1px;
}

/* Blue */
.admin-color-blue .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-right: 5px solid #096484;
}

/* Coffee */
.admin-color-coffee .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-right: 5px solid #096484;
}

/* Ectoplasm */
.admin-color-ectoplasm .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-right: 5px solid #a3b745;
}

/* Midnight */
.admin-color-midnight .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-right: 5px solid #26292c;
}

/* Ocean */
.admin-color-ocean .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-right: 5px solid #627c83;
}

/* Sunrise */
.admin-color-sunrise .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-right: 5px solid #be3631;
}

/* Light */
.admin-color-light .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-right: 5px solid #888;
}

/* bbPress Color Schemes */

/* Evergreen */
.admin-color-evergreen .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-right: 5px solid #36533f;
}

/* Mint */
.admin-color-mint .sc-vertical-sections .section-nav li[aria-selected="true"] a {
	border-right: 5px solid #4f6d59;
}

.sc-vertical-sections .section-nav li[aria-selected="true"] .dashicons {
	color: #555;
}

@media only screen and ( max-width: 782px ) {

	.sc-vertical-sections .section-nav {
		width: 48px;
	}

	.sc-vertical-sections .section-nav li a {
		text-align: center;
	}
	.sc-vertical-sections .section-nav li a .dashicons {
		width: 24px;
		height: 24px;
		font-size: 24px;
		line-height: 24px;
		margin: 0;
	}

	.section-nav li .dashicons::before {
		width: 24px;
		height: 24px;
	}

	.section-nav li .label {
		overflow: hidden;
		position: absolute;
		top: -1000em;
		right: -1000em;
		width: 1px;
		height: 1px;
	}
}

/* Content wrapper */

.sc-vertical-sections .section-wrap {
	float: right;
	width: 80%;
	background: #fff;
}

@media only screen and ( min-width: 1200px ) {
	.sc-vertical-sections:not(.meta-box) .section-wrap {
		width: calc( 100% - 200px );
	}
}

@media only screen and ( max-width: 782px ) {
	.sc-vertical-sections .section-wrap {
		width: calc( 100% - 48px );
	}
}
