#sc_events_calendar:after { display: block; float: none; clear: both; height: 0; content: "."; text-indent: -9999px; }
#sc_events_calendar_head { padding: 8px; height: 26px; background: #f0f0f0; border: 1px solid #ddd; border-bottom: none; }
#sc_event_select, #sc_event_nav_wrap, #sc_events_calendar_head h2 { width: 33%; float: left; margin: 0; clear:none; }
#sc_event_nav_wrap { text-align: right; }
#sc_event_nav_wrap form { display: inline; text-align: right; }
#sc_events_calendar_head h2 { text-align: center; line-height: 26px; }
#sc_events_calendar select, #sc_events_calendar input { margin: 0 5px 0 0; }
.sc_small #sc_event_nav_wrap { margin: 8px 0 0 0; }
.sc_small #sc_event_nav_wrap, .sc_small #sc_event_select { float: none; width: 100%; }
.sc_small #sc_event_nav_prev, .sc_small #sc_event_nav_next { display: block; width: 50%; float: left; }
.sc_small #sc_event_nav_prev { text-align: left; }
.sc_event_details { margin: 0 0 15px; }
/* responsive styles */
#calendar{margin:15px 0;}
#calendar ul{list-style:none;padding:0;margin:0;width:100%;}
#calendar li{min-height:20px;display:block;float:left;padding:5px;box-sizing:border-box;border:1px solid #ccc;margin-right:-1px;margin-bottom:-1px;}
.calendar-day-head, #calendar li.calendar-day-np{display:none;}
ul.calendar-day-head {height:40px;background:#555;}
#calendar ul.calendar-day-head li{text-align:center;line-height:20px;border:none;padding:10px 6px;color:#fff;font-size:13px;}
#calendar .calendar-row li{width:100%;padding:10px;margin-bottom:-1px;}
.day-number{text-align:center;margin-bottom:5px;padding:4px;background:#ddd;color:#444;width:25px;border-radius:50%;}
#calendar .event {clear:both;display:block;font-size:13px;border-radius:4px;padding:5px;margin-bottom:5px;line-height:14px;background:#eef;border:1px solid #bbc;color:#009aaf;text-decoration:none;}
#calendar .event:first{margin-top:40px;}
.event-desc {color:#555;margin:3px 0 7px 0;text-decoration:none;}
.sc_events_calendar:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:25px;}
@media (min-width: 741px) {
	.calendar-day-head{display:block;}
	#calendar li.calendar-day-np{background:#ddd;display:block;}
	.day-number{float:right;}
	#calendar .calendar-row li{min-height:170px;width:14.342%;}
	#calendar ul.calendar-day-head li{width:14.342%;}
}