/* Submenu Nav
-------------------------------------------------------------- */

/* Secondary Separators */
#adminmenu ul > li:not(:last-child) a[href^="admin.php?page=sugar-calendar"]:after,
#adminmenu ul > li:not(:last-child) a[href^="post-new.php?post_type=sc_event"]:after,
#adminmenu ul > li:last-child a[href^="admin.php?page=sc-addons"]:before
{
	display: block;
	margin: 13px -15px 8px -15px;
	content: '';
	float: left;
	width: calc(100% + 27px);
}

/* Bottom Separators */
#adminmenu ul > li:not(:last-child) a[href^="admin.php?page=sugar-calendar"]:after,
#adminmenu ul > li:not(:last-child) a[href^="post-new.php?post_type=sc_event"]:after
{
	border-bottom: 1px solid rgba(192,192,192,0.3);
}

/* Top Separator */
#adminmenu ul > li:last-child a[href^="admin.php?page=sc-addons"]:before
{
	border-top: 1px solid rgba(192,192,192,0.3);
}

/* WordPress 5.7 fix for left-shadow on hover */
#adminmenu li.toplevel_page_sugar-calendar ul.wp-submenu-wrap li
{
	clear: both;
}

/* Hide Parent Arrow */
ul#adminmenu #toplevel_page_sugar-calendar a.wp-has-current-submenu:after
{
	display: none;
}

/* Show Submenu Arrow */
ul#adminmenu #toplevel_page_sugar-calendar ul.wp-submenu li.current a:before
{
	right: 0;
	border: solid 8px transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #f1f1f1;
	margin-top: 2px;
}

@media screen and (max-width: 782px) {

	/* Small Screen Separator */
	#adminmenu ul > li:not(:last-child) a[href^="admin.php?page=sugar-calendar"]:after,
	#adminmenu ul > li:not(:last-child) a[href^="post-new.php?post_type=sc_event"]:after,
	#adminmenu ul > li:last-child a[href^="admin.php?page=sc-addons"]:before
	{
		margin: 20px -20px 8px -20px;
		width: calc(100% + 40px);
	}
}
