body.sugar-calendar.js div.sugar-calendar-wrap div.chosen-container {
	min-width: 125px;
}

/* Try to control some element replacement UI stutter */
body.sugar-calendar.js select.sc-select-chosen,
body.sugar-calendar div.sc-select-chosen {
	min-width: 58px;
	max-width: 300px;
}

/* Time pickers have explicit min/max-widths */
body.sugar-calendar.js div.sugar-calendar-wrap div.chosen-container.sc-time {
	min-width: 58px;
	max-width: 58px;
}

.sugar-calendar-wrap {
	margin: -6px -12px -12px -12px;
}

.sugar-calendar-wrap .section-content h4 {
	margin-bottom: 0;
}

.sugar-calendar-wrap .section-content #alert-methods h4 {
	margin-top: 0;
}

.sugar-calendar-wrap .section-content {
	padding: 10px;
}

.sugar-calendar-wrap .section-content .form-table {
	width: 100%;
	margin-top: 0;
}
.sugar-calendar-wrap .section-content .form-table th,
.sugar-calendar-wrap .section-content .form-table td {
	font-size: 13px;
}
.sugar-calendar-wrap .section-content .form-table th {
	width: 25%;
	padding: 15px 10px 14px;
}
.sugar-calendar-wrap .section-content .form-table td {
	width: 75%;
	padding: 10px 10px 9px;
}

.sugar-calendar-wrap .section-content th label {
	padding: 5px 10px;
	display: inline-block;
}

tr.sugar-calendar-post-header th {
	font-weight: 600;
}

/* Form Fields */

.sugar-calendar-wrap .section-content textarea {
	height: 79px;
	width: 60%;
}

/* WordPress 5.3 makes these 30px, which is 2px too tall for Chosen */
.sugar-calendar-wrap .section-content input[type=date],
.sugar-calendar-wrap .section-content input[type=datetime-local],
.sugar-calendar-wrap .section-content input[type=datetime],
.sugar-calendar-wrap .section-content input[type=email],
.sugar-calendar-wrap .section-content input[type=month],
.sugar-calendar-wrap .section-content input[type=number],
.sugar-calendar-wrap .section-content input[type=password],
.sugar-calendar-wrap .section-content input[type=search],
.sugar-calendar-wrap .section-content input[type=tel],
.sugar-calendar-wrap .section-content input[type=text],
.sugar-calendar-wrap .section-content input[type=time],
.sugar-calendar-wrap .section-content input[type=url],
.sugar-calendar-wrap .section-content input[type=week] {
	min-height: 28px;
}

@media only screen and ( max-width: 782px ) {

	.sugar-calendar-wrap .section-content .sugar_calendar_datepicker {
		max-width: 120px;
		display: inline-block;
	}

	.sugar-calendar-wrap .section-content th label {
		padding: 0;
	}

	body.sugar-calendar.js div.sugar-calendar-wrap div.chosen-container {
		min-width: 140px;
	}
}

/* Tools Styles
-------------------------------------------------------------- */

.sugar-calendar-wrap .sc-vertical-sections {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	background: #eee;
}

.sc-vertical-sections .section-nav,
.sc-vertical-sections .section-wrap {
	margin: 0;
	padding: 0;
	flex: 1 1 auto;
	vertical-align: top;
	text-overflow: ellipsis;
}

.sc-vertical-sections .section-nav {
	position: relative;
	line-height: 1em;
	flex-basis: 20%;
	max-width: 150px;
	min-width: 90px;
	border-right: 1px solid #ccd0d4;
	margin-bottom: -1px;
	z-index: 1;
}

.sc-vertical-sections .section-wrap {
	background: #fff;
	flex-basis: 80%;
	z-index: 2;
}

.sc-vertical-sections .section-nav button {
	margin: 0;
	padding: 0;
	position: relative;
	white-space: nowrap;
	background-color: #f4f4f4;
	border: none;
	width: 100%;
	text-align: left;
	outline: none;
}

.sc-vertical-sections .section-nav button {
	display: block;
	margin: 0;
	padding: 9px;
	line-height: 20px !important;
	box-shadow: inset 0 -1px 0 #ccd0d4;
	text-decoration: none;
	text-overflow: ellipsis;
	overflow: hidden;
	transition-property: border, background, color;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
}

.sc-vertical-sections .section-nav button > .dashicons {
	color: #82878c;
}

.sc-vertical-sections .section-nav button:hover,
.sc-vertical-sections .section-nav button:focus {
	background-color: #fafafa;
}

.sc-vertical-sections .section-nav button:hover,
.sc-vertical-sections .section-nav button:hover > .dashicons,
.sc-vertical-sections .section-nav button:hover > span,
.sc-vertical-sections .section-nav button:focus,
.sc-vertical-sections .section-nav button:focus > .dashicons,
.sc-vertical-sections .section-nav button:focus > span {
	color: #0096dd;
}

.sc-vertical-sections .section-nav button .dashicons {
	line-height: 20px;
	margin-right: 3px;
}

.sc-vertical-sections .section-nav button[aria-selected="true"] {
	position: relative;
	font-weight: bold;
	background-color: #fff;
	border-right-color: #fff;
	width: calc( 100% + 2px );
}

.sc-vertical-sections .section-nav button[aria-selected="true"],
.sc-vertical-sections .section-nav button[aria-selected="true"] .dashicons,
.sc-vertical-sections .section-nav button[aria-selected="true"] span {
	color: #23282d;
}

/* WordPress Color Schemes */

/* Default/Unknown */
.sc-vertical-sections .section-nav button[aria-selected="true"] {
	border-left: 5px solid #2271b1;
}

/* Fresh */
body.admin-color-fresh .sc-vertical-sections .section-nav button[aria-selected="true"] {
	border-left: 5px solid #2271b1;
}

/* Blue */
body.admin-color-blue .sc-vertical-sections .section-nav button[aria-selected="true"] {
	border-left: 5px solid #4796b3;
}

/* Coffee */
body.admin-color-coffee .sc-vertical-sections .section-nav button[aria-selected="true"] {
	border-left: 5px solid #c7a589;
}

/* Ectoplasm */
body.admin-color-ectoplasm .sc-vertical-sections .section-nav button[aria-selected="true"] {
	border-left: 5px solid #523f6d;
}

/* Midnight */
body.admin-color-midnight .sc-vertical-sections .section-nav button[aria-selected="true"] {
	border-left: 5px solid #e14d43;
}

/* Modern */
body.admin-color-modern .sc-vertical-sections .section-nav button[aria-selected="true"] {
	border-left: 5px solid #3858e9;
}

/* Ocean */
body.admin-color-ocean .sc-vertical-sections .section-nav button[aria-selected="true"] {
	border-left: 5px solid #9ebaa0;
}

/* Sunrise */
body.admin-color-sunrise .sc-vertical-sections .section-nav button[aria-selected="true"] {
	border-left: 5px solid #be3631;
}

/* Light */
body.admin-color-light .sc-vertical-sections .section-nav button[aria-selected="true"] {
	border-left: 5px solid #888;
}

/* bbPress Color Schemes */

/* Evergreen */
body.admin-color-bbp-evergreen .sc-vertical-sections .section-nav button[aria-selected="true"] {
	border-left: 5px solid #56b274;
}

/* Mint */
body.admin-color-bbp-mint .sc-vertical-sections .section-nav button[aria-selected="true"] {
	border-left: 5px solid #4f6d59;
}

/* Block Editor
-------------------------------------------------------------- */

.edit-post-layout__metaboxes #sugar_calendar_editor_event_details .postbox-header h2 {
	border-bottom: none;
}

.edit-post-layout__metaboxes #sugar_calendar_editor_event_details .sugar-calendar-wrap {
	margin: -6px -14px -14px -14px;
}

@media only screen and ( max-width: 782px ) {

	.sc-vertical-sections .section-nav {
		width: 48px;

		/* Necessary to override */
		min-width: 48px;
		max-width: 48px;
	}

	.sc-vertical-sections .section-nav button {
		text-align: center;
	}
	.sc-vertical-sections .section-nav button .dashicons {
		width: 24px;
		height: 24px;
		font-size: 24px;
		line-height: 24px;
		margin: 0;
	}

	.section-nav button .dashicons::before {
		width: 24px;
		height: 24px;
	}

	.section-nav button .label {
		overflow: hidden;
		position: absolute;
		top: -1000em;
		left: -1000em;
		width: 1px;
		height: 1px;
	}
}
